#cero,#cero1,#cero2,#cero3,#cero4{
width: 35px;
}
#uno{
width: 50px;	
}
#dos{
width: 38px;	
}
#tres,#sie2{
width: 40px;	
}
#cuatro,#s1{
width: 55px;	
}
#cinco,#d1{
width: 52px;	
}
#seis,#ci2,#sie3{
width: 65px;	
}
#siete{
width: 54px;	
}
#u1{
width: 69px;	
}
#t1{
width: 70px;	
}
#c1{
width: 79px;	
}
#ci1{
width: 74px;	
}
#u2,#ci3{
width: 53px;	
}
#d2{
width: 66px;	
}
#u4{
width: 58px;	
}
#s2,#c3,#c4,#s3{
width: 56px;	
}
#t2{
width: 48px;	
}
#u3{
width: 62px;	
}
#u4{
width: 59px;	
}
#c2,#t4{
width: 55px;	
}
#t3{
width: 60px;	
}
#d4{
width: 61px;	
}
#d3{
width: 45px;	
}
#ci4{
width: 44px;	
}