#cero,#cero1,#cero2,#cero3,#cero4{
width: 35px;
}
#uno,#cinco,#nueve{
width: 55px;
}
#dos{
width: 73px;
}
#tres{
width: 50px;
}
#cuatro{
width: 66px;
}
#seis{
width: 54px;
}
#siete{
width: 71px;
}
#ocho,#c3{
width: 44px;
}
#u1,#u4,#sie4{
width: 70px;
}
#d1{
width: 76px;
}
#t1{
width: 83px;
}
#c1{
width: 80px;
}
#u2{
width: 53px;
}
#d2,#s3,#ci4,#s4{
width: 67px;
}
#t2{
width: 57px;
}
#c2,#s2{
width: 48px;
}
#ci2{
width: 65px;
}
#sie2{
width: 92px;
}
#ocho2,#ocho3,#nue3,#t4{
width: 60px;
}
#nue2,#sie3{
width: 40px;
}
#u3{
width: 58px;
}
#d3{
width: 48px;
}
#t3{
width: 55px;
}
#ci3{
width: 51px;
}
#d4{
width: 80px;
}
#c4{
width: 45px;
}
#ocho4{
width: 47px;
}