/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ACTIVIDAD 1 RESPONDER y ACTIVDAD 4 COMPLETAR*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#uno,#dos,#tres,#cuatro{
	display:none;
	text-align:center;

}
#rep{display:none;}
.perendengues{display:none;}
.perendengues input{display:none;}
b{
	color:orange;
}
#audiesillos{
	width:70%;
	margin:0 auto;
	display:block;
	height:100%;
}
#rep{height:70%;}
.perendengues{
	height:30%;
}

#primera,#segunda,#tercera,#reproducir2{display:none;}

#Incorrect{
	margin:5%;
	position:absolute;
	width:50%;
	left:20%;
	top:49%;
	padding:2%;
	background:white;
	display:none;
	color:#fc484c;
	border-radius:12px;
	}
h1{color:#fc484c;}

#Correct{
	margin:5%;
	position:absolute;
	padding:4%;
	left:20%;
	top:49%;
	width:50%;
	background:white;
	border-radius:12px;
	display:none;
	color: #2b7052;
	}

#Correct h1{color: #2b7052;}

#q1 div,#q2 div,#q3 div{
	height:15%;
	line-height:4pt; 

	}
	
label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}



#perendengues1,#perendengues2, #perendengues3, #perendengues4, #perendengues5, #perendengues6, #perendengues7{
	display: none;
	margin: 0 auto;
	text-align: center;
}

#q4 h5{color:white;}
h4{margin-bottom:15px;}
#ans:hover{
	color:orange;
	-moz-transform:  scale(1.1,1.1);
	-moz-transition:-moz-transform 1s;
	-webkit-transform:  scale(1.1,1.1);
	-webkit-transition:-webkit-transform 1s;
	-ms-transform: scale(1.1,1.1);
	-ms-transition:-webkit-transform 1s;
	-o-transform: scale(1.1,1.1);
	-o-transition:-webkit-transform 1s;
	}

select:hover{background:cyan;}

.sol{display:none;}

#q1,#q2,#q3{height:41%;}






label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input[type=checkbox].css-checkbox {
position: absolute; 
overflow: hidden; 
clip: rect(0 0 0 0); 
height:1px; 
width:1px; 
margin:-1px; 
padding:0;
border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
padding-left:20px;
height:15px; 
display:inline-block;
line-height:15px;
background-repeat:no-repeat;
background-position: 0 0;
font-size:15px;
vertical-align:middle;	
}

input[type=checkbox].css-checkbox:checked + label.css-label {
background-position: 0 -15px;
}

.css-label{
background-image:url(http://csscheckbox.com/checkboxes/dark-check-green.png);	
}

.dark-plus-orange{background-image:url(http://csscheckbox.com/checkboxes/dark-plus-orange.png);}
.dark-check-orange{background-image:url(http://csscheckbox.com/checkboxes/dark-check-orange.png);}

input[type=checkbox].css-checkbox.med + label.css-label.med {
padding-left:22px;
height:17px; 
display:inline-block;
line-height:17px;
background-repeat:no-repeat;
background-position: 0 0;
font-size:15px;
vertical-align:middle;
cursor:pointer;
}

input[type=checkbox].css-checkbox.med:checked + label.css-label.med {
background-position: 0 -17px;
}
input[type=checkbox].css-checkbox.sme + label.css-label.sme {
padding-left:22px;
height:16px; 
display:inline-block;
line-height:16px;
background-repeat:no-repeat;
background-position: 0 0;
font-size:15px;
vertical-align:middle;
cursor:pointer;
}

input[type=checkbox].css-checkbox.sme:checked + label.css-label.sme{
background-position: 0 -16px;
}

input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
padding-left:22px;
height:20px; 
display:inline-block;
line-height:20px;
background-repeat:no-repeat;
background-position: 0 0;
font-size:15px;
vertical-align:middle;
cursor:pointer;
}

input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg{
background-position: 0 -20px;
}
@keyframes excelent {
    0% {transform:scale(0,0); }
	20%{ transform:scale(1,1);}
	100%{ transform:scale(1,1);}
}

@-moz-keyframes excelent {
    0% {transform:scale(0,0); }
	20%{ transform:scale(1,1);}
	100%{ transform:scale(1,1);}
}

@-ms-keyframes excelent {
    0% {transform:scale(0,0); }
	20%{ transform:scale(1,1);}
	100%{ transform:scale(1,1);}
}

@-webkit-keyframes excelent {
    0% {transform:scale(0,0); }
	20%{ transform:scale(1,1);}
	100%{ transform:scale(1,1);}
}
@-o-keyframes excelent {
    0% {transform:scale(0,0); }
	20%{ transform:scale(1,1);}
	100%{ transform:scale(1,1);}
}


