
@media only screen and (max-width: 680px) {
form input[type="text"]{
width: 100px;
}
#input2{
width: 80%;	
}
#blanco{
min-height: 100%;
margin-top: 14%;
margin-bottom: 14%;

}
#cuadroPreguntas{
width: 90%;	
}








}

/*
@media only screen and (max-width: 549px) {
#blanco{
background: blue;
min-height: 100%;
margin-top: 20%;
margin-bottom: 20%;
}
}

@media only screen and (min-width: 680px) {
#blanco{
background: gray;
min-height: 100%;
margin-top: 3%;
margin-bottom: 3%;
}
}


@media only screen  and (max-width: 375px) and (max-width: 414px){
#blanco{
background: violet;
min-height: 100%;
margin-top: 21%;
margin-bottom: 21%;
}
}*/


