#slider{
margin-bottom: 1%;
}
#featured1{
width: 95%;
display: inline-block;
height: auto;
margin-bottom: 5%;
margin-top: 3%;
}
.peso{
width: 80px;
margin: auto;
display: none;
}
.cent{
text-align : left;
}
#continuarw2, li.loskit{
display: none;
}
.lostitulitos{
margin-top: 20px;
visibility: hidden;
}
.rslides_container{
height: auto;
}
/*****************************************************************/
#cero,#cero1,#cero2,#cero3,#cero4{
width: 35px;
}
#tres,#uno{
width: 60px;
}
#dos{
width: 55px;
}
#cuatro{
width: 72px;
}
#cinco{
width: 75px;
}
#u1,#u3{
width: 65px;
}
#d1{
width: 50px;
}
#t1,#c1{
width: 83px;
}
#ci1,#ci2,#t4{
width: 52px;
}
#u2{
width: 70px;
}
#d2,#d3{
width: 58px;
}
#t2{
width: 54px;
}
#c2{
width: 66px;
}
#s2{
width: 46px;
}
#och2{
width: 44px;
}
#sie2{
width: 38px;
}
#t3{
width: 87px;
}
#c3{
width: 68px;
}
#ci3{
width: 60px;
}
#s3{
width: 42px;
}
#u4{
width: 78px;
}
#d4{
width: 85px;
}
#c4{
width: 66px;
}
#ci4{
width: 59px;
}
#s4{
width: 43px;
}
#sie4{
width: 51px;
}