/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ACTIVIDAD 2 COMPLETAR TABLA~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
	
ul{font-family:Humnst777 Bt;}
ul li{display:inline-block;}
	

label{
	font-family:Humnst777 BlkCn BT/*, Arial Rounded MT, Humnst777 BT*/;
	Font-variant: small-caps;
	}
	
#cuadro2,#cuadro3,#reproducir2{display:none;}
#void{

display:inline-table;
padding:10px;

}
div#informa{margin-bottom:10px;}
#blanco{

display:none;
}
article{height:50%;}

#card1,#card2,#card3{
	position:relative;
		display: table;
	}
	
	
	.contImage img{top:5%;}
	.sig2{display:none;opacity:.3;}
	
	#card2,#card3{display:none;}
	
	.prev2{display:none;}
	
	#cuadro{
		display:none;
	}
	
	aside{
		margin:0 auto;
		text-align:right;
		height:19%;
		margin:0 auto;
		width:100%;
		
	}
	
	.imagebutton{
		border:none;

	}
	.imagebutton:focus{border:none;outline:none;}
	
	.buttonContainer{		display:inline-block;
		width:100%;}
	
	
	#botonRetro1,#botonRetro2,#botonRetro3,#boton2,#boton3{display:none;}
	
	
	
	nav .vertical {
		position:relative;
		z-index:1;
		border-radius: 4px;
		overflow: hidden;
		
	}
	
	#audio1,#audio2,#audio3{display:none;}
	nav.vertical > ul {list-style-type: none;text-align:right; width:95%;}
	nav.vertical > ul > li {
	display: inline-block;
	}
	

	
	
	